[mysqld]

general-log = 0
general-log-file = /var/log/mysql/mysql.log
log-error = /var/log/mysql/mysql.err
log-warnings = 10
datadir = /var/lib/mysql
user = mysql
bind-address = 0.0.0.0
#workaround mysql bug #84940
innodb-stats-persistent = 0
innodb-stats-transient-sample-pages = 20
innodb-stats-auto-recalc = 0


!includedir /etc/mysql/conf.d
