{% macro rabbitmq_hosts() -%}
{% for host in groups['controller'] -%}
   {% if loop.last -%}
'{{ rabbitmq.user }}@{{ hostvars[host]['ansible_hostname'] }}'
   {%- else -%}
'{{ rabbitmq.user }}@{{ hostvars[host]['ansible_hostname'] }}',
   {%- endif -%}
{% endfor -%}
{% endmacro -%}

[
  {kernel, [
    {inet_dist_listen_min, 65535},
    {inet_dist_listen_max, 65535}
  ]},
{% if rabbitmq.cluster|bool -%}
  {rabbit, [
    {cluster_nodes, {[{{ rabbitmq_hosts() }}],disc }},
{% else -%}
  {rabbit, [
    {cluster_nodes, ["{{ rabbitmq.user }}@{{ ansible_hostname }}"]},
{% endif -%}
    {default_user, <<"{{ rabbitmq.user }}">>},
    {default_pass, <<"{{ secrets.rabbit_password }}">>}
  ]}

].
